*.iml
.gradle
/local.properties
local.properties
/gradle.properties
gradle.properties
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/tasks.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/advanced-recycler/build
/BGABanner/build
/endless/build
/ExoPlayerLibrary/build
/MultiThreadDownload/build
/tab-controller/build
/app/build
/shimmer-android/build
/ExoPlayerLibrary/build